<div
  class="swell-page secondary-color"
  id="swell-faqs"
  style="display: block;">
  <h2 class="swell-question">How do I participate?</h2>
  <p>Joining is easy! Create an account with us and  take part in all of the exciting ways we currently offer to earn points!<br><br>
  </p>

  <h2 class="swell-question">How can I earn points?</h2>
  <p>You can earn points through each purchase and referral. Simply click on the 'Earn Points' tab to view and take part in our current opportunities. Make sure to check back often, as we're adding great new ways for you to earn points all the time!<br> <br>
  </p>

  <h2 class="swell-question">What can I redeem my points for and how?</h2>
  <p>Glad you asked! We want to make it easy and fun to redeem your hard-earned points. Just visit the 'Redeem Points' tab to view all of our exciting reward options and click the 'Redeem' button to redeem your reward.<br> <br>
  </p>

  <h2 class="swell-question">Does it cost anything to begin earning points?</h2>
  <p>Absolutely not! Sign up is 100% free, and it will never cost you anything to earn points. Make sure to visit the 'Earn Points' tab to get started.<br> <br>
  </p>

  <h2 class="swell-question">How long will it take for points to post to my account?</h2>
  <p>You should receive points in your account instantly once you complete a purchase or a referral. <br> <br>
  </p>

  <h2 class="swell-question">Do my points expire?</h2>
  <p>Nope! Your points will never expire.<br> <br>
  </p>

  <h2 class="swell-question">What happens to my points if I make a return?</h2>
  <p>When you return an item, you lose the associated credit you originally earned by buying the item in the first place. <br> <br>
  </p>

  <h2 class="swell-question">How do I contact support if I have questions about my points?</h2>
  <p>Our team is ready and waiting to answer your questions about our rewards program! Just send us an email at
    <a href="mailto:info@iodomani.com">Send email</a>
    and we'll be in touch.</p>
  <br>
</div>